body {
  font-size:1.1em;
  font-family: "HelveticaNeue-Light", 
  "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans- serif;
  overflow-x:hidden;
}

h1 {
    width:100%;
    background-color:#21C40B;
    padding:1%;
    color:#FFF;
    margin:0% 0% 3% 0%;
}

h2, a {
    margin:1% 0%;
    color:#1CA809;
}

footer {
    clear:both;
    width:100%;
    padding:3% 0%;
    background-color:#3d3d3d;
    text-align:center;
}

    footer a {
        text-decoration:none;
        font-size:1.3em;
    }

        footer a:hover {
            text-decoration:underline;
        }

.code h2 {
    border-bottom:solid 2px #21C40B;
}

pre {
  display: block;
  width: auto;
  overflow: auto;
  /*max-height: 600px;*/
  white-space: pre;
  word-wrap: normal;
  padding: 10px; 
  color:#1CA809; 
}

@media screen and (min-width: 45em) {
    .indexPage .about .col_6 {
        width: 49%;
    }

    .indexPage .code .col_6 {
        width: 49%;
    }

    .indexPage .code pre {
        min-height:400px;
    }
}

@media screen and (min-width: 25em) {
    .indexPage .demo .col_6 {
        width: 49%;
    }
}